body{
   background-color: black;
   overflow: hidden;
}

.bitcoin-img{
    position: relative;
    width: 50%;
    height: 30%;
    display: flex;
    justify-content: end;
    margin-top: 18%;
}
.name{
 color: #d29e00;
 margin-left: 50%;
 margin-top: -20%;
 font-size: 300%;
}
.description{
    color: #d29e00;
    margin-left: 50%;
}
.ul{
    color: white;
    display: flex;
    justify-content: end;
    margin-top: -35%;
    margin-right: 20%;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    font-size: 150%;
}
.li{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
a:hover{
    color: gold;
}
a{
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-right: 20%;
}
.img{
    display: flex;
    width: 3%;
    height: 3%;
    margin-top: 53%;
    margin-left: 2%;
}
.img-div{
    display: flex;
    flex-wrap: wrap;
}