body{
   background-color: black;
   overflow: hidden;
}

.bitcoin-img{
    position: relative;
    width: 20%;
    height: 20%;
    display: flex;
    justify-content: end;
    margin-top: 10%;
    margin-left: 5%;
}
.name{
 color: #d29e00;
 margin-left: 50%;
 /* margin-top: -20%; */
 font-size: 300%;
}
.description{
    color: #d29e00;
    margin-left: 50%;
}
.ul{
    color: white;
    display: flex;
    justify-content: end;
    margin-top: -33%;
    margin-right: 20%;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    font-size: 150%;
}
.li{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
a:hover{
    color: gold;
}
a{
    color: white;
    text-decoration: none;
    list-style-type: none;
    margin-right: 20%;
}
.img{
    display: flex;
    width: 3%;
    height: 100%;
    background-color: #999;
}
.img-ul{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style: none;
    margin-top: 30%;
    
}
.img-il{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}
footer{
    background-color: #999;
    height: 100px;
    width: 1800px;
    margin-left: -2%;
}