*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}

html{
    scroll-behavior: smooth;
}

body{
    font-size: 100%;
    font-family: sans-serif;
}

div, section, span, ul, li, a, header{
    box-sizing: border-box;
}


header{
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    align-items: center;
    position: fixed;
    z-index: 999;
    background-color: rgba(247, 243, 243, 0.438);
}

#menu li{
    list-style: none;
    display: inline-block;
    margin-right: 40px;
}

#menu li a{
    color: black;
    text-decoration: none;
    font-size: 230%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#menu li a:hover{
    text-decoration: underline #ffc100;
}

section{
    width: 100%;
    float: left;
    height: 100vh;
    position: relative;
}

#home{
   background-color: white;
}

#about{
     background-color: white;
}

#services{
     background-color: white;
}

#contact{
     background-color: white;
}

h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    
}
.img{
    width: 20%;
    height: 20%;
}
.logo-name{
    color: gold;
    position: absolute;
    margin-left: 8%;
    font-size: 300%;
    font-style: normal;
    letter-spacing: 3px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.name{
    color: black;
    font-size: 450%;
    position: absolute;
    margin-top: 15%;
    text-wrap: nowrap;
    letter-spacing: 3px;
    font-weight: 900;
    margin-left: 5%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.description{
    color: black;
    position: absolute;
    margin-top: 29%;
    margin-left: 5%;
    font-size: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.exchange-img{
    position: absolute;
    margin-top: 10%;
    margin-left: 50%;
    height: 70%;
    width: 50%;
}
.get-started-btn{
    position: absolute;
    border-radius: 5px;
    border-style:double;
    border-width: 1px;
    border-color: black;
    height: 7%;
    width: 12%;
    background-color: white;
    margin-top: 35%;
    margin-left: 5%;
}
.get-started-link{
    font-size: 180%;
    text-decoration: none;
    color: black;
    padding: 5px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.icon{
    position: absolute;
    width: 2%;
    height: 4%;
    margin-top: 42%;
    margin-left: 5%;
}
.fb{
    margin-left: 5%;
}
.ig{
    margin-left: 11%;
}
.x{
    margin-left: 8%;
}
.trade-img{
    position: absolute;
    margin-top: 10%;
}
.abt-us-description{
    position: absolute;
    margin-left: 34%;
    margin-top: 15%;
    font-size: 120%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.abt-us-name{
    border-radius: 5px;
    position: absolute;
    padding-bottom: 0.3%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 20%;
    margin-left: -6%;
    background-color:  rgba(196, 193, 193, 0.438);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.our-story-name{
    border-radius: 5px;
    position: absolute;
    padding-bottom: 0.3%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 20%;
    margin-left: 16.4%;
    background-color:  rgba(196, 193, 193, 0.438);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.our-story-description{
    position: absolute;
    margin-left: 56%;
    margin-top: 15%;
    font-size: 120%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.our-mission-name{
    border-radius: 5px;
    position: absolute;
    padding-bottom: 0.3%;
    padding-left: 7%;
    padding-right: 7%;
    padding-bottom: 18%;
    margin-left: 38%;
    background-color:  rgba(196, 193, 193, 0.438);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.our-mission-description{
    position: absolute;
    margin-left: 79%;
    margin-top: 17%;
    font-size: 120%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.service-img{
    position: absolute;
    margin-top: 15%;
    width: 30%;
    height: 50%;
}
.welcome{
    margin-left: 15%;
    margin-top: -13%;
    font-size: 250%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.service{  
    margin-left: 10%; 
    margin-bottom: 1%;
    margin-left: 30%;
    font-size: 120%;
}
.s1{
    margin-top: 16%;
}
.wwo{
    position: absolute;
     margin-left: 58%;
     margin-top: 13%;
}
.select{
    margin-bottom: 30%;
    margin-left: 30%;
}
#cryptoSelect{
    margin-top: 4%;
    margin-left: 43%;
    position: absolute;
}
.selet-a-crypto{
    position: absolute;
    width: 18%;
    padding-bottom: 15.5%;
    padding-left: 2%;
    padding-top: 2%;
    font-size: 120%;
    margin-left: 32%;
    background-color:rgba(196, 193, 193, 0.979);
    border-radius: 3px;
}
#cryptoSelect2{
    margin-top: 10.2%;
    margin-left: 43%;
    position: absolute;
}
.selet-a-crypto2{
    position: absolute;
    margin-top: 14%;
    margin-left: -12%;
}
.enter-btn{
    width: 10%;
    height: 5%;
    position: absolute;
    margin-top: 16%;
    margin-left: 36%;
    border-radius: 1%;
    border-color: white;
}
.input1{
    margin-left: 35%;
    position: absolute;
    margin-top: 6%;
}
.input2{
    margin-left: 35%;
    position: absolute;
    margin-top: 12%;
}
.service-quick-transaction{
    position: absolute;
    border-radius: 1%;
    width: 20%;
    padding-left: 2%;
    background-color:rgba(196, 193, 193, 0.979) ;
    margin-left: 53%;
    font-size: 150%;
    padding-bottom: 15%;
}
.video{
    font-size: 200%;
    margin-left: 60%;
    margin-top: 9%;
    position: absolute;
    text-decoration: none;
    color: black;
} 
.video:hover{
    text-decoration: underline #ffc100;
}
.lowest-fees{
    position: absolute;
    border-radius: 1%;
    width: 20%;
    padding-left: 2%;
    background-color:rgba(196, 193, 193, 0.979) ;
    margin-left: 76%;
    font-size: 120%;
    padding-bottom: 3%;
}
.contact-us-img{
    position: absolute;
    width: 40%;
    margin-top: 7%;
}
.contact-us{
    margin-top: -11%;
    margin-left: 16%;
    font-size: 200%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.email{
    margin-top: 20%;
    margin-left: 40%;
    font-size: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.number{
    margin-top: 5%;
    margin-left: 40%;
    font-size: 150%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
